

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
footer,
header,
nav,
section{
  display: block;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */


/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 62.5%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  height: 100%;
}

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */

body {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a {
  color: #00477d;
  &:hover {
    color: #333;
    outline: 0;
    transition: color .5s;

  }
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 3em;
  margin: 1em 0 .4em;
  font-weight: 400;
}

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

strong {
  font-weight: bold;
}

p {
  margin: 0 0 .2em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

ol,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: disc;
  padding-left: 2em;
}


/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */

img {
  border: 0; 
  -ms-interpolation-mode: bicubic; /* 2 */
}
